services:
  ftp-purge:
    container_name: ftp-purge
    restart: unless-stopped
    build:
      context: ./ftp-purge-data
      dockerfile: Dockerfile
    user: root
    volumes:
      - ./ftp-purge-data:/app
      - /var/run/docker.sock:/var/run/docker.sock
      - ftp-data:/ftp-data
    env_file:
      - .env
    networks:
      - ftp-network
    labels:
      - "com.centurylinklabs.watchtower.enable=false"

  ftp-server:
    container_name: ftp-server
    restart: unless-stopped
    image: webdevops/vsftp

    env_file:
      - .env

    environment:
      FTP_USER: "${FTP_USER}"
      FTP_PASSWORD: "${FTP_PASS}"
      FTP_PATH: "/home/${FTP_USER}"
      FTP_UID: 1000
      FTP_GID: 1000

    ports:
      - "${FTP_PORT:-21}:21"

    volumes:
      - ftp-data:/home/${FTP_USER}

    networks:
      - ftp-network

    depends_on:
      - ftp-purge

networks:
  ftp-network:

volumes:
  ftp-data:
    name: ftp-data
